:root{
  --primary-red: hsl(12, 88%, 59%); 
  --primary-blue: hsl(228, 39%, 23%); 
  --dark-blue: hsl(233, 12%, 13%); 
  --light-red: hsl(13, 100%, 96%); 
  --dark-gray: hsl(227, 12%, 61%); 
  --light-gray: hsl(0, 0%, 98%); 
}

*, *::before, *::after{
  box-sizing: border-box;
  margin:0;
  padding:0; 
}
body{
  font-size: 1rem; 
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--primary-blue);
}
button, input{
  font-family: "Be Vietnam Pro", sans-serif;
}
button{
  font-weight: 500;
}
a{
  text-decoration: none;
  color: var(--primary-blue);
}
ul{
  list-style: none;
}
.clear-button{
  background-color: transparent;
  border: none;
}
.cta-button{
  padding: 0.9rem 2rem; 
  border:none;
  border-radius: 2rem;
  box-shadow: 0 5px 10px hsla(12, 88%, 59%, 0.5);
  background-color: var(--primary-red);
  color:var(--light-red);
}
/* .cta-button--light{

} */

.header__nav, .header__cta-button{
  display:none;
}

.header{
  display:flex; 
  justify-content: space-between;
  padding: 3rem 1.5rem;
}
.header__logo{
  width: 7.5rem;
}
.header__nav--display{
  display:block; 
  position: absolute; 
  inset: 0;
  background-image: linear-gradient(transparent,rgba(60, 60, 60, 0.6));
}
.header__close-mobile{
  float:right;
  margin-top: 3rem;
  margin-right: 1.5rem;
}
.header__nav--display .header__nav-list{
  display: flex; 
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  margin: 7rem 1.5rem auto 1.5rem;
  padding: 3rem 0rem;
  text-align: center;
  font-weight:700;
  border-radius: 5px;
}







.hero__image{
  width:100%;
}
/* - Mobile: 375px
- Desktop: 1440px 

### Primary
Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)
### Neutral
Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Very Light Gray: hsl(0, 0%, 98%)

## Typography
- Font size: 16px // 1rem; 

### Font

  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400, 500, 700; 
  font-style: normal;
*/